html, body { 
  height: 100%; 
}
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  width: 100%;
  display: flex;
  flex-direction: column;
}
.spacer {
  flex: 1 1 auto;
}
.content {
  flex: 1;
  display: flex;  
  flex-direction: column;
  align-items: center;  
}
.sidenav {
  padding: 0 15px 0 15px;
  min-width: 260px;

  .mat-drawer-inner-container {
    overflow-x: hidden;
  }

  .param-field {
    display: flex;
    flex-direction: rows;
    margin-right: 15px;
    align-items: center;
    &.checkbox {
      min-height: 42px;
    }
    label {
      flex: 1;
      display: inline-block;   
      .label-dim {
        min-width: 35px;
        color: #999;
        font-size: 0.75rem;
      }        
    }
    .val {
      flex: 1;
    }
  }
}
.sidenav-container {
  position: absolute !important;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0; 
}
.sidenav-content {
  display: flex;
  height: calc(100% - 30px);
  align-items: center;
  justify-content: center;
  padding: 15px 15px;
}
.footer {
  background-color: rgb(161, 32, 83);
  border-top: 1px solid #ccc;
  flex: 0 60px;
  padding: 0 15px;
  display: flex;
  justify-content: end;
  align-items: center;

  .footer-button:not(:last-child) {
    margin-right: 8px;
  }

}